body{
	font-family: "Helvetica", sans-serif;
}

h1{
	font-family: "Helvetica", cursive;
	color: black;
	text-align: center;
}

h4{
	padding-left:42px;
	padding-right:42px;
	padding-bottom:2px;
	padding-top:2px;
	font-style: italic;
	color: black;
	text-align: center;
}
.xlabel{
	font-family: "Helvetica", cursive;
}
.ylabel{
	font-family: "Helvetica", cursive;
}

.grade_label{
	font-family: "Helvetica", cursive;
	color: "#7FDBFF";

}
.stddev_label{
	font-family: "Helvetica", cursive;

}

#sentiment{
	margin-left:50px;
	margin-right:50px;
	margin-top:5px;
	margin-bottom:5px;
}
#WC{
	float:right;
	margin-left:50px;
	margin-right:30px;
	margin-top:5px;
	margin-bottom:5px;
}
#asth{
	font-family: "Helvetica", sans-serif;	
	padding-left:40px;
	display:inline-block;

}

#well{
	display:inline-block;
	font-family: "Helvetica", sans-serif;	
	padding-left:40px;

}

#removeP{
	font-family: "Helvetica", sans-serif;	
	padding-left:40px;
	display:inline-block;

}

#removeN{
	display:inline-block;
	font-family: "Helvetica", sans-serif;	
	padding-left:40px;

}

#menuD{
	font-family: "Helvetica", sans-serif;	
	padding-left:40px;
}

#devD{
	clear:both;
	float: right;
	font-size:12px;
	font-family: "Helvetica", sans-serif;	
	padding-right:30px;
}
